body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    background: url("../images/2017_logo_beavr.png") center no-repeat;
}

.btn-round {
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
}

.btn-scenes {
    bottom: 15px;
    left: 15px;
}

.btn-prop {
    bottom: 15px;
    right: 15px;
}

/*Overrides*/
.navbar {
    margin-bottom: 0 !important;
    position: absolute !important;
    width: 100% !important;
    z-index: 50000 !important;
}

.navbar-brand {
    color: #19405F !important;
    font-size: xx-large !important;
}

.nav > li {
    font-size: large !important;
}

.drawer {
    padding-top: 65px !important;
}

.drawer-body {
    padding: 1.2em !important;
}

.drawer-contents {
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3) !important;
}

.drawer-positions{
    max-width: 99%;
}

.drawer-positions-line{
    max-width: 99%;
}

.object-properties div:first-child {
    height: 32px;
    margin: auto;
    line-height: 30px;
}

.object-properties label {
    max-width: 20%;
}

.object-properties input[type=number] {
    max-width: 70%;
    text-align: center;
    border-radius: 3px;
}

.object-properties input[type=text] {
    max-width: 100%;
    text-align: center;
    border-radius: 3px;
    background: transparent;
}

.sugarmaple {
    font-size: 1.2em !important;
    padding-left: 0 !important;
}

.sugarmaple .list-group-item {
    border-radius: 3px;
}

.treeview .check-icon {
    float: right !important;
    font-size: 1.3em !important;
    color: #4E4E4E !important;
    margin-right: 10px !important;
    margin-top: 3px !important;
}

.sugarmaple ul {
    box-shadow: 1px 1px 6px -2px rgba(0, 0, 0, 0.30);
    margin-bottom: 1em;
}

.sugarmaple ul:nth-last-child(2) {
    margin-top: 1em !important;
}

.sugarmaple .list-group-item > input[type='checkbox'] {
    float: right !important;
}

/*Overrides*/
