.categories-left-panel .hoverable:hover {
    background: darkgray !important;
}

.categories-left-panel .tab.active {
    background: darkgray !important;
}

.properties-left-panel .hoverable:hover {
    background: #e8e8e8 !important;
}
