@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

$sizeTopMenu: 15%;
$greyTopBarBackgroundColor:#3F3F3F;

$backgroundColorSideBar: #1B1C1D;

.LeftBarSelector {

  overflow: scroll;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
  .ui {

    &:hover{

    }

    &:active{
      
    }
    &.left {

      &.visible {

        &.sidebar {
            top:$sizeTopMenu;
        }
      }
    }
    &.inverted {

      &.icon {

        &.menu {

          background: $greyTopBarBackgroundColor;

          &.a {

            &.item {
              background: deeppink;

            }
            &:hover {
              background: greenyellow;
            }

          }
          &.item {

            &:hover {
              background: aqua;
            }

            &:active{
              background: yellow;
            }
          }


        }
      }

      &.menu {

        //@include calc("height", "100% - 30px");
        //background: red;
      }
      &.item {
        background: black;
      }
    }

  }

  &.item {

    background: blueviolet;
    &:hover {
      background: greenyellow;
    }
  }
}