<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Block Name</h4>
        <div class="two fields">
            <div class="field">
                <input type="text" name="basicInfo[name]" placeholder="Name">
            </div>

        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Condition Settings</h4>

        <div class="field">
            <label>Position</label>
            <div class="four fields">
                <div class="field">

                    <input type="checkbox" name="position[activated]" disabled></div>
                <div class="field">
                    <input type="number" name="position[y]" placeholder="y" disabled>
                </div>
                <div class="field">
                    <input type="number" name="position[z]" placeholder="z" disabled>
                </div>
                <div class="field">
                    <input type="number" name="position[x]" placeholder="x" disabled>
                </div>
            </div>
            <div class="field">
                <label>Timer</label>
                <div class="two fields">


                    <div class="field">

                        <input type="checkbox" name="timer[activated]" disabled></div>
                    <div class="field">
                        <input type="number" name="timer[time]" placeholder="time" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Proximity</label>
            <div class="two fields">


                <div class="field">

                    <input type="checkbox" name="proximity[activated]"></div>
                <div class="field">
                    <input type="number" name="proximity[distance]" placeholder="distance">
                </div>
            </div>
        </div>
        <div class="field">
            <label>On signal</label>
            <div class="two fields">


                <div class="field">

                    <input type="checkbox" name="signal[activated]" disabled></div>
            </div>
        </div>
    </div>


</div>