<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Block Name</h4>
        <div class="two fields">
            <div class="field">
                <input type="text" name="block[name]" placeholder="<%- actionBlock.name %>" disabled="">
            </div>

        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Target</h4>

        <div class="field">

            <div class="two fields">

                <div class="field">
                    <button name="target[object]" class="ui primary button">
                        Object
                    </button>
                </div>
                <div class="field">
                    <button name="target[reaction]" class="ui primary button">
                        Reaction
                    </button>
                </div>

            </div>

        </div>


    </div>


    <div class="field">
        <h4 class="ui dividing header">Condition Parameters</h4>

        <div class="field">
            <label>Relative position</label>

            <button name="condition[proximity]" class="ui primary button">
                Select Object
            </button>

        </div>


        <div class="field">
            <label>Proximity</label>

            <button name="condition[proximity]" class="ui primary button">
                Select Object
            </button>

        </div>
        <div class="field">
            <label>On Signal</label>
            <button name="condition[signal]" class="ui primary button">
                Select Reaction Block
            </button>

        </div>
    </div>
</div>