<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Add a CustomObject</h4>
        <div class="two fields">
            <input type="file" id="upload_customObject">
            <button id="validate_customObject">Valider</button>
        </div>
        <h4 class="ui dividing header">Use an existing Custom Object</h4>
        <div class="two fields">
            <div class="field">
                <p>TODO later</p>
            </div>
        </div>
    </div>
</div>