<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Add an ExternalObject</h4>
        <div class="two fields">
            <input type="file" id="upload_externalObject">
            <button id="validate_externalObject">Valider</button>
        </div>
        <h4 class="ui dividing header">Use an existing External Object</h4>
        <div class="two fields">
            <div class="field">
                <p>TODO later</p>
            </div>
        </div>
    </div>
</div>