<div id="leftMenu" class="ui left demo vertical inverted sidebar labeled icon menu visible">
<% _.each(menu, function(item, i){%>
    <div class="row">
        <% if (item.isUsed == true) { %>
        <a id="item<%- item.id %>" class="item">
            <i class="<%- item.logo %>"></i>
            <%- item.name %>
        </a>
        <% } %>
    </div>
    <% }); %>
</div>

<script>

    $('#item2').click(function () {

        $('.ContainerObjectSelector').transition('fly right');

    });

    $('#item5').click(function () {

        $('.ContainerBasicObject').transition('fly right');

    });
</script>

