<div class="ui  modals">
    <div class="ui basic modal transition visible active" id="fileUpload_modal">
        <div class="header">
            Importer un fichier
        </div>
        <div class="image content">
            <div class="description">
                <div class="ui equal width grid">
                    <div class="equal width row">
                        <div class="column">
                            <div>
                                <label id="openFile" for="file" class="ui icon button">
                                    <i class="file icon"></i>
                                    Open File</label>
                                <input type="file" id="file" style="display:none">
                            </div>
                        </div>
                        <div class="column inputNameFile">
                            <div class="ui right labeled left icon input inputNameFile">
                                <i class="terminal icon"></i>
                                <input id="renameFile" type="text" placeholder="Renommer">
                                <a class="ui tag label">
                                    Renommer
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="actions">
            <button id="dismissModal" class="ui black left button">Annuler</button>
            <div class="ui blue right labeled icon small button">
                Ajouter au projet
                <i class="plus icon"></i>
            </div>

        </div>
    </div>
</div>

<script>

    $("document").ready(function(){

        $("#file").change(function() {
            $("#renameFile").val($("#file").val().split('\\').pop() + "");
        });
    });


    $("#dismissModal").click(function () {
        $('.ModalSelectFile').modal('hide');
    });


    $('.ModalSelectFile').modal({
        onHide: function(){
            console.log('hidden');

        },
        onShow: function(){
            console.log('shown');
        },
        onApprove: function() {
            console.log('Approve');
            return validateModal()
        }
    }).modal('show');
</script>