<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Basic Information</h4>
        <div class="two fields">
            <div class="field">
                <input type="text" name="basicInfo[name]" placeholder="Name">
            </div>
            <div class="field">
                <input type="text" name="basicInfo[type]" placeholder="Type" disabled>
            </div>
        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Transformations</h4>

        <div class="field">
            <label>Location</label>
            <div class="two fields">
                <div class="field">
                    <input type="number" name="location[x]" placeholder="x">
                </div>
                <div class="field">
                    <input type="number" name="location[y]" placeholder="y">
                </div>
                <div class="field">
                    <input type="number" name="location[z]" placeholder="z">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Rotation</label>
            <div class="two fields">
                <div class="field">
                    <input type="number" name="rotation[x]" placeholder="x">
                </div>
                <div class="field">
                    <input type="number" name="rotation[y]" placeholder="y">
                </div>
                <div class="field">
                    <input type="number" name="rotation[z]" placeholder="z">
                </div>
            </div>
        </div>
        <div class="field">
            <label>Scale</label>
            <div class="two fields">
                <div class="field">
                    <input type="number" name="scale[x]" placeholder="x">
                </div>
                <div class="field">
                    <input type="number" name="scale[y]" placeholder="y">
                </div>
                <div class="field">
                    <input type="number" name="scale[z]" placeholder="z">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Mesh</h4>

        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>Color</label>
                    <input type="text" name="mesh[color]" placeholder="#ffffff">
                </div>
                <div class="field">
                    <label>Visible</label>
                        <input type="checkbox" name="mesh[visible]">
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Scripts</h4>
    </div>


</div>