<div class="ui dimmer modals page transition visible active">
    <div class="ui modal transition visible active beavr-anim" id="reset_password_modal">
        <div class="header">
            Réinitialiser le mot de passe
        </div>
        <div class="content">
            <div class="ui info message">
                <i class="icon info circle"></i>
                Indiquez votre adresse email, nous vous renverrons un mot de passe !
            </div>
            <form class="ui form fluid warning" name="resetPasswordForm">
                <div class="required field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="email" id="reset_password_email" name="email" placeholder="Adresse e-mail" required>
                    </div>
                </div>
                <div class="ui black deny button" id="back_button">
                    Retour
                </div>
                <button id="reset_password_button" class="ui positive right labeled icon button">
                    Réinitialiser
                    <i class="checkmark icon"></i>
                </button>
            </form>
        </div>
    </div>
</div>

