<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Scene</h4>
        <div class="two fields">
            <div class="field">
                <input id="scene_name" type="text">
            </div>
            <button id="validate_scene_name">Valider</button>
        </div>
        <h4 class="ui dividing header">Delete this scene</h4>
        <div class="one fields">
            <button id="validate_delete_scene">Delete this scene</button>
        </div>
    </div>
</div>