<div class="ui form">
    <div class="field">
        <!--SkyBox section-->
        <h4 class="ui dividing header">Sky</h4>
        <div class="two fields">

            <div class="field">
                <select id="selectSky" class="three" name="selectSky" >
                    <option value="1" selected="selected">Night sky</option>
                    <option value="2">Desert</option>
                    <option value="3">Town</option>
                    <option value="4">Sky</option>
                    <option value="5">ZomboSki</option>
                </select>
            </div>

            <div class="field text-center">
                <button name="actionBlock[validate]" class="ui primary button" id="addSky">
                    Add
                </button>
            </div>

        </div>
    </div>


    <!--Ground section-->
    <h4 class="ui dividing header">Ground</h4>
    <div class="two fields">

        <div class="field">
            <select id="selectGround" class="three" name="selectGround">
                <option value="1" selected="selected">Grass</option>
                <option value="2">Wood</option>
                <option value="3">Rock</option>
                <option value="4">Metal</option>
            </select>
        </div>

        <div class="field text-center">
            <button name="actionBlock[validate]" class="ui primary button" id="addGround">
                Add
            </button>
        </div>

    </div>
</div>