<div class="ui form">
    <div class="field">
        <h4 class="ui dividing header">Sky</h4>
        <div class="two fields">
            <button name="actionBlock[validate]" class="ui primary button" id="addSky">
                Add
            </button>
        </div>
    </div>

    <div class="field">
        <h4 class="ui dividing header">Ground</h4>
        <div class="two fields">
            <button name="actionBlock[validate]" class="ui primary button" id="addGround">
                Add
            </button>
        </div>
    </div>
</div>