/*
 * index & LeftMenuCategories.html
 * LeftMenu
 */

.categories-left-panel {
    background: #ffffff;
    height: 100%;
    max-width: 80px;
    min-width: 80px;
    padding: 0 !important;
    /*TODO à résoudre dans semantic*/
    margin-left: 28px !important;
}

.my-category-row {
    /*height: 60px;*/
    background: white;
    border: 1px solid gray;
    border-top: none;
}

.my-category-logo-row {
    padding: 10px 0 5px 0;
}

.my-category-text-row {
    padding: 5px 0 10px 0;
}

/*
 * index & ObjectMenu.html
 * Properties/addObject Menu
 */

.properties-left-panel {
    background:grey;
    height: 100%;
    display: none;
}

.my-object-column {
    height: 90px;
    background: white;
    border: 1px solid gray;
    border-top: none;
}

.my-object-logo-row {
    padding:0px;
    margin: 5px 0;
}

.my-category-logo-row > img,
.my-object-logo-row > img {
    height: 30px !important;
    margin: auto !important;
    display: block;
}

.my-object-text-row {
    height: 30px !important;
    margin:auto; !important
}

.my-category-text-row > p,
.my-object-text-row > p {
    margin:auto;
    padding:0px;
    font-size: 12px;
    font-weight: bold;
    text-align:center;
    text-overflow:ellipsis;
}

/*
TopMenu.html
TODO Elliot
*/


/*
index.html
*/

body {
    height: 100%;
}

.myMainView {
    height: 100%;
}

.myTopMenuView {
    padding:0px;
    min-height: 73px;
    max-height: 73px;
}

.mySecondMainView {
    /*TODO à résoudre dans semantic*/
    margin-top: -16px !important;
    height: 100%;
    padding: 0;
}

.treeview-left-panel {
    background:grey;
    height: 100%;
}

#mainView {
    padding: 0px;
}

.categories-left-panel .hoverable:hover {
    background: darkgray !important;
}

.categories-left-panel .tab.active {
    background: darkgray !important;
}

.properties-left-panel .hoverable:hover {
    background: #e8e8e8 !important;
}


.ui.popup{overflow:auto;}

.ui.modal { top: 33%; text-align:center; margin:auto; }

.project:hover {
    background: rgb(50,50,50);
}

.header {
    border: 1px solid white;
}
