.categories-left-panel .hoverable:hover {
    background: darkgray !important;
}

.categories-left-panel .tab.active {
    background: darkgray !important;
}

.properties-left-panel .hoverable:hover {
    background: #e8e8e8 !important;
}

.ui.popup{overflow:auto;}

.ui.modal { top: 33%; text-align:center; margin:auto; }