.sugarmaple {
    font-size: 1.2em;
}

.sugarmaple .node {
    width: 100%
}
.sugarmaple > .node {
    background-color: #F8F8F8 !important;
    padding-left: 0 !important;
}

.sugarmaple .node {
    cursor: pointer;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding-left: 1.5em;
    background: url(../images/node.png) no-repeat;
    background-position-x: 0.75em;
    background-position-y: 0.65em;
}

.sugarmaple .node:last-child {
    background: #F8F8F8 url(../images/lastnode.png) no-repeat;
    background-position-x: 0.75em;
    background-position-y: -0.60em;
}

.sugarmaple .node .node-child:not(:empty) {
    background: url(../images/vline.png) repeat-y;
    background-position-x: 0.75em;
}

.sugarmaple .node .node-child-container {
    padding-right: 0.5em !important;
    margin-right: -0.5em !important;
}

.sugarmaple .node .node-content {
    background: white;
    padding: 0.6em;
    border-radius: 0.2em;
    box-shadow: 0.05em 0.05em 0.3em -0.1em rgba(0, 0, 0, 0.30);
}

.sugarmaple .node .basic {
}

.sugarmaple .node .dragged {
    cursor: all-scroll;
    background-color: #556080;
    width: 50%;
    opacity: 0.6;
}

.sugarmaple .node .no-bg {
    background: none;
}

.sugarmaple .node .no-height {
    height: 0;
}

.sugarmaple .node .fold {
    overflow: hidden;
    height: 0;
    opacity: 0;
}

.sugarmaple .node .expand {
    opacity: 1;
}

.sugarmaple .node .placeholder {
    margin-left: 0.75em;
    height: 5px;
    border-radius: 5px;
    background: #57af9b;
}

.sugarmaple .node-title {
    display: inline-block;
}

.sugarmaple .node-checkbox {
    display: inline-block;
    float: right;
}